/* CSS Document */
html{
	scroll-behavior: auto;
}
header{
	width: 300px;
	background: grey;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	padding: 80px 60px 50px;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.menu{
	padding: 100px 0;
	
}
.menu ul{
	list-style: none;
}
.menu li{
	margin: 12px 0;
}
.menu li a{
	text-decoration: none;
	color: #000000;
}
.social{
	height: 100%;
	display: flex;
	align-items: flex-end;
}
.social a{
	color: #000000;
	margin-right: 20px;
	font-size: 18px;
}
.social a:hover{
	opacity: 0.8;
}
main{
	padding-left: 300px;
	background: #FFF2E2;
}
.banner{
	height: 350px;
	/*background: red;*/
	overflow: hidden;
	position: relative;
}
.banner img{
	position: absolute;
}
.img-1{
	height: 350px;
}
.img-2{
	width: 100px;
	left: 680px;
	top: 50px;
	z-index: 10;
}
.img-3{
	width: 170px;
	top: 60px;
	left: 729px;
	z-index: 9;
}
.img-4{
	width: 265px;
	top: 30px;
	left: 730px;
	z-index: 8;
}
.portolio{
	padding: 100px 0;
}
.portolio img{
	width: 100%;
}
.custom{
	height: 600px;
}
#sroll-up{
	background: #fcf898;
	position: fixed;
	right: 50px;
	bottom: 50px;
	z-index: 999;
	text-align: center;
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
#sroll-up:hover{
	background: rgba(254,215,225,1);
	cursor: pointer;
}
