/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap');
@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}
body{
	font-family: myFirstFont;
}
.hearder{
	position: absolute;
	width: 100%;
	z-index: 999;
	background: rgba(0,0,0,0.44);
	color: white;
	height: 66px;
	min-width: 1300px;
}
/*header*/
.logo{
	width: 50%;
	float: left;
    margin-left: 8px;
    height: 105px;
	/*background: blue;*/
}
.maid-logo{
	padding: 39px 0;
}
/*logo*/
.news {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 910px;
	background: url("../Genshin Impact - Đi vào thế giới thần kỳ_yyt/Genshin Impact - Đi vào thế giới thần kỳ_yyt/29770c4.jpg") no-repeat center/cover;
    color: #fff;
	box-sizing: border-box;
    margin: 0;
    padding: 0;
	font-family: tahoma, arial;
	font-size: 30px;
	justify-content: center;
	align-items: center;
}
.news h3::before{
	content: '';
    position: absolute;
    top: 50%;
    width: 385px;
    height: 14px;
    background: url("../download (3).png") no-repeat right center/cover;
	left: 0;
    transform: translate(calc(-100% - 32px), -50%);
}
.news h3::after{
	content: '';
    position: absolute;
    top: 50%;
    width: 385px;
    height: 14px;
    background: url("../download (3).png") no-repeat right center/cover;
	right: 0;
    transform: translate(calc(100% + 32px), -50%) rotateY(180deg);
}
.news-main {
    display: flex;
    justify-content: center;
    height: 400px;
    margin: 0 auto;
}
.news__swiper{
	overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.news__content {
    position: relative;
    width: 640px;
    margin: 0;
    background: rgba(38,18,12,0.62);
}
.news__list {
    width: 592px;
    margin: 0 auto;
}
.news__item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgba(255,255,255,0.08);
    box-sizing: content-box;
    font-size: 16px;
    color: #fff;
}
.news__title {
    width: 480px;
    height: 20px;
    line-height: 20px;
    padding-left: 11px;
}
.news__date {
    position: absolute;
    top: 0;
    right: 11px;
    color: rgba(255,255,255,0.35);
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mySlides {display: none}
img {vertical-align: middle;}
/* Slideshow container */
.slideshow-container {
  max-width: 999px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 0px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*news*/
.poster__sign {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100vh;
    left: 50%;
    width: 100%;
    min-height: 280px;
    transform: translate(-50%, -340px);
}
.poster__download {
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}
.poster__sub {
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px rgb(114 71 21 / 68%), 0 0 10px rgb(114 71 21 / 68%);
    margin: 32px auto 27px;
}
/*list*/
.top-bar{
	/*background: #F5F3F3;*/
}
.banner{
	height: 100vh;
	/*background: #e6f2f2;*/
}
.banner video{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.text-box{
   z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100vh;
    left: 50%;
    width: 100%;
    min-height: 280px;
    transform: translate(-50%, -340px);
}
.img-box{
	overflow: hidden;
}
.icon-box{
	text-align: center;
}
.menu{
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color: #fff;
	transition: all 0.2s ease-in-out 0s;
}
.menu ul{
	list-style: none;
	display: flex;
	text-align: center;
}
.menu li{
	margin: 0 20px;
	position: relative;
}
.menu li a{
	color: white;
	font-size: 14px;
	text-decoration: none;
}
.menu li a:hover{
	color: #000000;
}
.menu ul li{
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	margin-left: -5px;/*mặc định của "display: inline-block" là margin-left:5 */
	position: relative; /* thiết lập kiểu relative */
}
.menu ul li ul{
	position: absolute;
	top: 31px;/*canh chỉnh vị trí*/
	left: 4px;/*canh chỉnh vị trí*/
	visibility: hidden; /*ẩn menu con*/
}
.menu ul li:hover ul{
	visibility: visible;
}
.menu a{
	text-decoration: none;
	color: white;
	display: block; /*ôm trọn khối*/
}
.menu li:hover.sub-menu{
	visibility:visible;
	opacity: 1;
	display: flex; 
	flex-direction:column;
	align-items:center; 
	justify-content:center
}
/*menu*/
.social-icon{
	width: 15%;
	/*background: pink;*/
	display: flex;
	align-items:center;	
}
.social-icon a{
	margin: 0 5px;
	font-size: 12px;
	color: #848484;
}
.social-icon .lg{
	margin: 0 25px 0 10px;
}

h1,h2,h4,h5,h6{
	font-family: 'Mon'
}
.left{
	width: 50%;
	padding-top: 100px;
}
.right{
	widows: 20%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.right img{
	height: 50%;
}
.ct-key{
	display: flex;
    justify-content: flex-end;
	align-items: flex-end;
}
.box{
	width: 30%;
	text-align: center;
}
.city {
    width: 100%;
}
.city__list {
    overflow: hidden;
}
.city__list ul li{
	list-style: none;
	display: list-item;
    text-align: -webkit-match-parent;
}
.city__list-item {
    position: relative;
    width: 100%;
    height: 260px;
    background: center no-repeat;
    cursor: pointer;
    overflow: hidden;
}
@media screen and (max-width: 1920px){
.city__list-item {
    background-size: 1920px 260px;
}
}
.city__list-item::before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
.city__list-bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: center no-repeat;
	background-image: url("../Genshin Impact - Đi vào thế giới thần kỳ_yyt/Genshin Impact - Đi vào thế giới thần kỳ_yyt/2020021114275255981.jpg");
}
@media screen and (max-width: 1920px){
	.city__list-bg {
    background-size: 1920px 260px;
    transition: transform 0.4s 0s ease-out;
}
}
.city__list-item a {
   display: inline-block;
    position: relative;
    z-index: 3;
    font-size: 36px;
    color: #fff;
    line-height: 260px;
    width: 100%;
    height: 260px;
    background-size: 132px;
    text-align: center;
    text-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    margin: 0 !important;
    overflow: hidden;
	background: url("../download (5).png")center no-repeat;
}
.city__list-item p::after {
    position: absolute;
    bottom: 91px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: '';
    width: 210px;
    height: 10px;
    background: url("../download (1).png")center no-repeat;
    background-size: 210px 10px;
    opacity: 0;
	font-color: white; 
}
.city__list-item--disable{
    pointer-events: none;
}
.city__list-char {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: calc(50% + 360px) 50%;
    background-size: 960px 260px;
    opacity: 0;
    transition: all 0.2s 0s ease-in;
    border: #fff solid 6px;
    box-sizing: border-box;
}
.city__list-item3 {
    background-image: url("../Genshin Impact - Đi vào thế giới thần kỳ_yyt/Genshin Impact - Đi vào thế giới thần kỳ_yyt/9a62be8.jpg");
}
.city__list-item--disable {
    pointer-events: none;
}
.img{
	width: 200px;
	height: 300px;
	margin: 50px;
	overflow: hidden;
}
.img img{
	width: 100%;
	transition: all 2s ease;
}
.zoom img:hover{
	transform: scale(1.5)
}
/*city*/
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.footer__top {
    position: relative;
    width: 1280px;
    height: 52px;
    line-height: 52px;
    letter-spacing: 0;
    font-size: 16px;
    border-bottom: #1a1a1a solid 2px;
    color: #999;
    left: 50%;
    margin-left: -640px;
}
.footer__socialbar {
    display: inline-block;
    list-style-type: none;
    height: 100%;
    line-height: 100%;
    margin-right: 250px;
    margin-left: 10px;
}
.footer__socialitem {
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 10px;
    margin-right: 24px;
}
.footer__socialitem span {
    display: inline-block;
    font-size: 32px;
}
.footer__language {
    position: relative;
    float: right;
    padding-left: 42px;
    width: auto;
    text-align: right;
    margin-right: 10px;
    background: transparent url("../download (4).png") no-repeat 0 17px;
}
.footer__topitem {
    cursor: pointer;
}
.footer__language--title {
    position: relative;
    padding-right: 36px;
    font-weight: normal;
    font-size: 16px;
}
.footer__language--title::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    margin-top: -4px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #333;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    transform-origin: center;
    transform: rotate(
-180deg);
    transition: transform linear 0.2s;
}
.mihoyo-sea-footer {
    background-color: #111;
    padding: 30px 0 50px;
}
.footer-wrap {
    margin: 0 auto;
    color: #999;
    box-sizing: border-box;
}
@media screen and (max-width: 768px){
.mihoyo-sea-footer .footer-wrap {
    width: 100%;
    padding: 0;
}
}
.footer-content {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
}
@media screen and (max-width: 340px){
.mihoyo-sea-footer .footer-content, .mihoyo-sea-footer.__m-mihoyo-sea-footer .footer-content {
    font-size: 14px;
}
}
@media screen and (max-width: 768px){
.mihoyo-sea-footer .footer-content {
    display: block;
    font-size: 16px;
}
}
 .footer-content__logo {
    display: flex;
}
@media screen and (max-width: 768px){
.mihoyo-sea-footer .footer-content__logo {
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
}
}
.logoimg {
    padding: 0 20px;
    -webkit-box-flex: 1;
    flex: 1;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}
.game {
    position: relative;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border: none;
}
.footer-content__info {
    /*width: 560px;
    margin-left: 40px;*/
}
@media screen and (max-width: 768px){
.mihoyo-sea-footer .footer-content__info {
    width: 100%;
    margin: 0;
    padding: 0 14px;
    box-sizing: border-box;
}
}
.copyright {
    padding: 6px 0;
}
@media screen and (max-width: 340px){
.mihoyo-sea-footer .footer-content .copyright, .mihoyo-sea-footer.__m-mihoyo-sea-footer .footer-content .copyright {
    font-size: 11px;
}
}
@media screen and (max-width: 768px){
.mihoyo-sea-footer .footer-content .copyright {
    font-size: 13px;
    text-align: center;
}
}
.extra-info {
    color: #7d7d7d;
    line-height: 20px;
    padding: 10px 0;
}
@media screen and (max-width: 340px){
.mihoyo-sea-footer .footer-content .tip-text, .mihoyo-sea-footer .footer-content .extra-info, .mihoyo-sea-footer.__m-mihoyo-sea-footer .footer-content .tip-text, .mihoyo-sea-footer.__m-mihoyo-sea-footer .footer-content .extra-info {
    font-size: 12px;
}
}
@media screen and (max-width: 768px){
.mihoyo-sea-footer .footer-content .tip-text, .mihoyo-sea-footer .footer-content .extra-info {
    text-align: center;
}
}
.footer-content__icons {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}
@media screen and (max-width: 768px){
.mihoyo-sea-footer .footer-content__icons {
    -webkit-box-pack: center;
    justify-content: center;
}
}