/* CSS Doucument */
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@100;200;300;400;500&family=Montserrat:wght@300;400;500&display=swap');
*{
	margin: 0 ;
	padding: 0;
}
body{
	font-family: "Arimo", sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Mon'
}
.container{
	width: 1200px;
	margin: 0 auto;
}
header{
	padding: 32px 0;
	/*background: black;*/
}
header li a:hover{
	color: #41B1FF!important;
}
.header-maid{
	display: flex
}
.logo{
	width: 15%;
	/*background: blue;*/
}
/*logo*/
.menu{
	width: 70%;
	/*background: red;*/
}
.menu ul{
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-content: center;
	/*background: green;*/
	height: 100%;
}
.menu li{
	margin: 0 20px;
}
.menu li a{
	color: #848484;
	font-size: 12px;
	text-decoration: none;
	font-family: "Arimo", sans-serif;
	text-transform: uppercase;
}
/*menu*/
.social-icon{
	width: 15%;
	/*background: pink;*/
	display: flex;
	align-items:center;	
}
.social-icon a{
	margin: 0 5px;
	font-size: 12px;
	color: #848484;
}
.social-icon .lg{
	margin: 0 25px 0 10px;
}
/*header*/
.banner{
	height: 600px;
	background:url("img/hero-bg.jpg");
	background-size: cover;
	position: relative;
	background-position: 50% 0px;
}
.banner::after{
	content: "";
	width: 100%;
	height: 100%;
	opacity: 1;
	position: absolute;
	background: -webkit-linear-gradient(left, rgba(66, 115, 240, .8), rgba(48, 212, 186, .8));
    background: -moz-linear-gradient(left, rgba(66, 115, 240, .8), rgba(48, 212, 186, .8));
    background: -o-linear-gradient(left, rgba(66, 115, 240, .8), rgba(48, 212, 186, .8));
    background: -ms-linear-gradient(left, rgba(66, 115, 240, .8), rgba(48, 212, 186, .8));
    background: -webkit-gradient(linear, left top, right top, from(rgba(66, 115, 240, .8)), to(rgba(48, 212, 186, .8)));
    background: linear-gradient(left, rgba(66, 115, 240, .8), rgba(48, 212, 186, .8));
	left: 0;
	top: 0;
	z-index: 1;
}
.container{
	position: relative;
	z-index: 2;
	display: flex;
	height: 100px;
}
.left{
	width: 50%;
	color: #FFFFFF;
	padding-top: 100px;
}
.left h2{
	font-size: 24px;
}
.left h1{
	font-size: 60px;
	margin: 45px 0 48px;
}

.btn{
	border: 1px solid white;
	padding: 12px 22px;
	border-radius: 40px;
	text-decoration: none;
	color: #FFFFFF;
	
}
.btn:hover{
	background: white;
	color: #AAAAA;
}
.btn:hover ion-icon{
	color: #5DE99A;
}
.btn ion-icons{
	font-size: 20px;
	vertical-align:text-bottom;
}
.right{
	widows: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.right img{
	height: 70%;
}
.maid-logo{
	background: #F0F1FF;
	padding: 36px 0;
}

.ct-logo{
	display: flex;
}
.box{
	width: 25%;
	text-align: center;
}
